body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headingDiv {
    width: 100%;
    height: 150px;
    background-color: rgb(247, 231, 142);
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyDiv {
    width: 100%;
    height: 700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 180, 180);
}

.links {
    width: 500px;
    height: 500px;
}